<div class="bootstrap-wrapper" >
  <div class="container">
    <div class="row p.ex1" style="margin-top: 50px">
      <div class="col-md-6 offset-md-3" style="border: 2.5px solid rgb(109, 107, 107);">
        <mat-card >
        <div class="container text-center">
          <img
            src="../../../assets/logo.jpg "
            alt="medicine logo"
            height="250"
            width="250"
          />
        </div>
        <h3 class="text-center">Sign up here!!</h3>
        <!-- {{user | json}} -->
        <!-- Username -->
        <form (ngSubmit)="formSubmit()">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input
              required
              [(ngModel)]="user.firstName"
              name="firstname"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:Abid</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input
              required
              [(ngModel)]="user.lastName"
              name="lasttname"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:Ahmed</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input
              required
              [(ngModel)]="user.userName"
              name="username"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:Mynul436(Must be Unique!!)</mat-hint>
          </mat-form-field>
          <!-- UserPassword -->
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>User Password</mat-label>
            <input
              required
              [(ngModel)]="user.password"
              name="password"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:abc123@</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              required
              [(ngModel)]="user.email"
              name="email"
              type="email"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:mynul59@gmail.com</mat-hint>
          </mat-form-field>
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>Phone Number</mat-label>
            <input
              required
              [(ngModel)]="user.phone"
              name="phone"
              type="number"
              matInput
              placeholder="Input Here"
            />
            <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
            <mat-hint>Hint:01234567890</mat-hint>
          </mat-form-field>

          <div class="container text-center">
            <br />
            <button
              type="submit"
              mat-raised-button
              color="primary"
              background-color:
              blue
            >
              Sign Up
            </button>
            <button style="margin-left: 20px" mat-raised-button color="accent">
              Clear
            </button>
          </div>
        </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
