<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row p.ex1" style="margin-top: 50px">
      <div class="col-md-6 offset-md-3"></div>

      <div class="container text-center">
        <img
          src="../../../assets/logo.jpg "
          alt="medicine logo"
          height="250"
          width="250"
        />
      </div>
      <h3 class="text-center">Register Here!!</h3>
      <!-- Username -->
      <form>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:Abid</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:Ahmed</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:Mynul436</mat-hint>
        </mat-form-field>
        <!-- UserPassword -->
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>User Password</mat-label>
          <input matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:abc123@</mat-hint>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:mynul59@gmail.com</mat-hint>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput placeholder="Input Here" />
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-hint>Hint:01234567890</mat-hint>
        </mat-form-field>
      </form>
      <div class="container text-center">
        <br />
    <button mat-raised-button color="primary"   background-color: blue
>Sign Up</button>
    <button mat-raised-button color="accent">Clear</button>
      </div>
    </div>
  </div>
</div>
